# =========================
# Keil MDK build output
# =========================
**/Objects/
**/Listings/

*.o
*.d
*.axf
*.hex
*.bin
*.map
*.lst
*.dep
*.crf
*.htm
*.lnp

# Keil user-specific files
*.uvguix.*
*.bak
*.tmp

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Local debug/tools
# =========================
PulseView/
sigrok-cli/
